{
  "openapi": "3.0.1",
  "info": {
    "title": "RAPIDS SAA Portal",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dol.appiancloud.com/suite/webapi"
    }
  ],
  "tags": [
    {
      "name": "SAA Portal",
      "description": "Create or update a record"
    }
  ],
  "paths": {
    "/rapids-saa-portal-appr": {
      "post": {
        "tags": [
          "SAA Portal"
        ],
        "description": "Add RAPIDS SAA Portal Apprentices",
        "operationId": "RAPIDS SAA Portal - Apprentice",
        "requestBody": {
          "description": "Add/Update a list of SAA Portal apprentices",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rapids-saa-portal-sponsor": {
      "post": {
        "tags": [
          "SAA Portal"
        ],
        "description": "Add RAPIDS SAA Portal Sponsor ",
        "operationId": "RAPIDS SAA Portal - Sponsor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SponsorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SponsorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation exception",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InvalidResponse": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string",
            "example": "There is no SAA State assigned for this user"
          }
        }
      },
      "Apprentice": {
        "type": "object",
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "Unique Apprentice Identifier",
            "example": "VA2023000001"
          },
          "sponsorId": {
            "type": "string",
            "description": "Sponsor Identifier",
            "example": "2022-VA-1234"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "description": "Date the apprentice was born",
            "example": "1988-09-05"
          },
          "genderInd": {
            "type": "integer",
            "format": "int32",
            "example": 2,
            "enum": [
              1,
              2
            ],
            "description": "Gender: * 1 = Male * 2 = Female * 9 = Participant did not self-identify\n"
          },
          "ethnicInd": {
            "type": "integer",
            "enum": [
              1,
              2,
              9
            ],
            "description": "Ethnicity Hispanic / Latino * 1 = Yes * 2 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "natIndianInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "asianInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "africaAmerInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "nathawaiInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "wInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "vetStatInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "disabilityInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "education": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "termlength": {
            "type": "integer",
            "description": "Total length of the apprenticeship in hours",
            "format": "int64",
            "example": 2000
          },
          "termlengthRemaining": {
            "type": "integer",
            "description": "Total length remaining until the apprenticeship is complete (in hours)",
            "format": "int64",
            "example": 1500
          },
          "startDt": {
            "type": "string",
            "description": "Date Apprenticeship Begins",
            "format": "date",
            "example": "2022-05-08"
          },
          "expCompDt": {
            "type": "string",
            "description": "Expected completion date",
            "format": "date",
            "example": "2022-05-08"
          },
          "exitDt": {
            "type": "string",
            "description": "Date the apprentice left the apprenticeship (either completed or cancelled)",
            "format": "date",
            "example": "2022-05-08"
          },
          "status": {
            "type": "string",
            "example": "RE",
            "enum": [
              "RE",
              "CA",
              "CO"
            ],
            "description": "Current status of the apprentice * RE - Registered * CA - Cancelled * CO - Completed\n"
          },
          "statusReason": {
            "type": "string",
            "description": "Reason why the status was updated (ie cancellation reason)",
            "example": "Moved out of country"
          },
          "entryWage": {
            "type": "string",
            "format": "decimal",
            "description": "Enter the Apprentices hourly Entry wage.",
            "example": 20
          },
          "exitWage": {
            "type": "string",
            "description": "Enter the Apprentices hourly Exit wage.  This wage cannot be less than the Apprentice hourly Entry wage for the occupation.",
            "format": "decimal",
            "example": 100
          },
          "onetSocCode": {
            "type": "string",
            "description": "O*NET SOC Code of the apprentice's occupation. For more information visit onetcenteronline.org",
            "example": "47-1111.00"
          },
          "occTitle": {
            "type": "string",
            "description": "Name of the apprentice's occupation",
            "example": "Electrician"
          },
          "occType": {
            "type": "string",
            "example": "HY",
            "enum": [
              "TB",
              "CB",
              "HY"
            ],
            "description": "Type of occupation * TB - Time Based * CB - Competency-Based * HY - Hybrid\n"
          }
        }
      },
      "ApprenticeRequest": {
        "type": "object",
        "properties": {
          "apprList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Apprentice"
            }
          }
        }
      },
      "ApprenticeResponse": {
        "type": "object",
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "RAPIDS-Generated Unique Apprentice Identifier",
            "example": "VA_VA2023000001"
          },
          "sponsorId": {
            "type": "string",
            "description": "Sponsor Identifier",
            "example": "2022-VA-1234"
          },
          "state": {
            "type": "string",
            "description": "Routing State",
            "example": "VA"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "description": "Date the apprentice was born",
            "example": "1988-09-05"
          },
          "ageAtReg": {
            "type": "string",
            "description": "Age at Registration (Calculated)",
            "example": 25
          },
          "genderInd": {
            "type": "integer",
            "format": "int32",
            "example": 2,
            "enum": [
              1,
              2
            ],
            "description": "Gender: * 1 = Male * 2 = Female * 9 = Participant did not self-identify\n"
          },
          "ethnicInd": {
            "type": "integer",
            "enum": [
              1,
              2,
              9
            ],
            "description": "Ethnicity Hispanic / Latino * 1 = Yes * 2 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "natIndianInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "asianInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "africaAmerInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "nathawaiInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "wInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "vetStatInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "disabilityInd": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "education": {
            "type": "integer",
            "enum": [
              1,
              0,
              9
            ],
            "description": "Race - American Indian / Alaskan Native * 1 = Yes * 0 = No * 9 = Participant did not self-identify\n",
            "example": 1
          },
          "termlength": {
            "type": "integer",
            "description": "Total length of the apprenticeship in hours",
            "format": "int64",
            "example": 2000
          },
          "termlengthRemaining": {
            "type": "integer",
            "description": "Total length remaining until the apprenticeship is complete (in hours)",
            "format": "int64",
            "example": 1500
          },
          "startDt": {
            "type": "string",
            "description": "Date Apprenticeship Begins",
            "format": "date",
            "example": "2022-05-08"
          },
          "expCompDt": {
            "type": "string",
            "description": "Expected completion date",
            "format": "date",
            "example": "2022-05-08"
          },
          "exitDt": {
            "type": "string",
            "description": "Date the apprentice left the apprenticeship (either completed or cancelled)",
            "format": "date",
            "example": "2022-05-08"
          },
          "status": {
            "type": "string",
            "example": "RE",
            "enum": [
              "RE",
              "CA",
              "CO"
            ],
            "description": "Current status of the apprentice * RE - Registered * CA - Cancelled * CO - Completed\n"
          },
          "statusReason": {
            "type": "string",
            "description": "Reason why the status was updated (ie cancellation reason)",
            "example": "Moved out of country"
          },
          "entryWage": {
            "type": "string",
            "format": "decimal",
            "description": "Enter the Apprentices hourly Entry wage.",
            "example": 20
          },
          "exitWage": {
            "type": "string",
            "description": "Enter the Apprentices hourly Exit wage.  This wage cannot be less than the Apprentice hourly Entry wage for the occupation.",
            "format": "decimal",
            "example": 100
          },
          "onetSocCode": {
            "type": "string",
            "description": "O*NET SOC Code of the apprentice's occupation. For more information visit onetcenteronline.org",
            "example": "47-1111.00"
          },
          "occTitle": {
            "type": "string",
            "description": "Name of the apprentice's occupation",
            "example": "Electrician"
          },
          "occType": {
            "type": "string",
            "example": "HY",
            "enum": [
              "TB",
              "CB",
              "HY"
            ],
            "description": "Type of occupation * TB - Time Based * CB - Competency-Based * HY - Hybrid\n"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the record",
            "example": "saa.portal.va"
          },
          "createdDt": {
            "type": "string",
            "description": "Date the record was created",
            "format": "date-time",
            "example": "2022-11-01T16:10:09.000Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who updated the record",
            "example": "saa.portal.va,"
          },
          "updatedDt": {
            "type": "string",
            "description": "Date the record was updated",
            "format": "date-time",
            "example": "2022-11-08T16:10:09.000Z"
          }
        }
      },
      "Sponsor": {
        "type": "object",
        "properties": {
          "sponId": {
            "type": "string",
            "description": "Unique Sponsor Identifier",
            "example": "2022-VA-12345"
          },
          "name": {
            "type": "string",
            "description": "Name of the Sponsor",
            "example": "University of Virginia"
          },
          "street": {
            "type": "string",
            "description": "The Sponsor’s street address",
            "example": "VA"
          },
          "city": {
            "type": "string",
            "description": "The Sponsor’s city",
            "example": "Fairfax"
          },
          "state": {
            "type": "string",
            "description": "The Sponsor’s state",
            "example": "VA"
          },
          "zip": {
            "type": "integer",
            "description": "The Sponsor’s 5 digit zip code",
            "format": "int64",
            "example": 22030
          },
          "naics": {
            "type": "integer",
            "description": "The Sponsor’s 6 digit NAICS code",
            "format": "int64",
            "example": 111100
          },
          "programType": {
            "type": "string",
            "example": "INJ",
            "enum": [
              "INJ",
              "IJ",
              "GNJ",
              "GJ"
            ],
            "description": "The type of program: * INJ - Independent, Non Joint * IJ - Independent, Joint * GNJ - Group, Non Joint * GJ - Group, Joint\n"
          },
          "regDt": {
            "type": "string",
            "format": "date",
            "description": "Date the program sponsor was registered",
            "example": "2015-09-28"
          },
          "status": {
            "type": "string",
            "description": "Is the program currently registered or in a cancelled status?",
            "example": "RE"
          },
          "exitDt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-01-12T00:00:00.000Z"
          }
        }
      },
      "SponsorRequest": {
        "type": "object",
        "properties": {
          "sponsorList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sponsor"
            }
          }
        }
      },
      "SponsorResponse": {
        "type": "object",
        "properties": {
          "uniqueId": {
            "type": "string",
            "description": "RAPIDS-Generated Unique Identifier",
            "example": "VA_2022-VA-12345"
          },
          "sponId": {
            "type": "string",
            "description": "Unique Sponsor Identifier",
            "example": "2022-VA-12345"
          },
          "name": {
            "type": "string",
            "description": "Name of the Sponsor",
            "example": "University of Virginia"
          },
          "street": {
            "type": "string",
            "description": "The Sponsor’s street address",
            "example": "VA"
          },
          "city": {
            "type": "string",
            "description": "The Sponsor’s city",
            "example": "Fairfax"
          },
          "state": {
            "type": "string",
            "description": "The Sponsor’s state",
            "example": "VA"
          },
          "zip": {
            "type": "integer",
            "description": "The Sponsor’s 5 digit zip code",
            "format": "int64",
            "example": 22030
          },
          "naics": {
            "type": "integer",
            "description": "The Sponsor’s 6 digit NAICS code",
            "format": "int64",
            "example": 111100
          },
          "programType": {
            "type": "string",
            "example": "INJ",
            "enum": [
              "INJ",
              "IJ",
              "GNJ",
              "GJ"
            ],
            "description": "The type of program: * INJ - Independent, Non Joint * IJ - Independent, Joint * GNJ - Group, Non Joint * GJ - Group, Joint\n"
          },
          "regDt": {
            "type": "string",
            "format": "date",
            "description": "Date the program sponsor was registered",
            "example": "2015-09-28"
          },
          "status": {
            "type": "string",
            "description": "Is the program currently registered or in a cancelled status?",
            "example": "RE"
          },
          "exitDt": {
            "type": "string",
            "format": "date-time",
            "example": "2022-01-12T00:00:00.000Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the record",
            "example": "saa.portal.va"
          },
          "createdDt": {
            "type": "string",
            "description": "Date the record was created",
            "format": "date-time",
            "example": "2022-11-01T16:10:09.000Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who updated the record",
            "example": "saa.portal.va,"
          },
          "updatedDt": {
            "type": "string",
            "description": "Date the record was updated",
            "format": "date-time",
            "example": "2022-11-08T16:10:09.000Z"
          },
          "routingState": {
            "type": "string",
            "description": "State Routing",
            "example": "VA"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "Appian-API-Key",
        "in": "header"
      }
    }
  }
}
